<h2> Lista de Tarefas </h2>

<p class ="notice"><%= flash[:notice] %></p>

<%= link_to "Nova Tarefa" , new_tarefa_path %><br/><br/>

	<table>
		<tr>
			<th>Nome</th>
			<th>Responsavel</th>
			<th>Descrição</th>
			<th>Data de Entrega</th>
		</tr>
		<% @tarefas.each do |tarefa| %>
			<tr>
				<td><%= tarefa.nome %></td>
				<td><%= tarefa.responsavel %></td>
				<td><%= tarefa.descricao %></td>
				<td><%= tarefa.data_fim %></td>
				<td><%= link_to "Edit" , edit_tarefa_path(tarefa) %></td>
			</tr>
		<% end %>
	</table>