<h1>Listing projetos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Data inicio</th>
    <th>Data fim</th>
    <th>Cliente</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projetos.each do |projeto| %>
  <tr>
    <td><%= projeto.nome %></td>
    <td><%= projeto.data_inicio %></td>
    <td><%= projeto.data_fim %></td>
    <td><%= projeto.cliente %></td>
    <td><%= projeto.descricao %></td>
    <td><%= link_to 'Show', projeto %></td>
    <td><%= link_to 'Edit', edit_projeto_path(projeto) %></td>
    <td><%= link_to 'Destroy', projeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Projeto', new_projeto_path %>
<br/><br/>
<%= link_to "Tarefas" , tarefas_path %>