<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @projeto.nome %>
</p>

<p>
  <b>Data inicio:</b>
  <%= @projeto.data_inicio %>
</p>

<p>
  <b>Data fim:</b>
  <%= @projeto.data_fim %>
</p>

<p>
  <b>Cliente:</b>
  <%= @projeto.cliente %>
</p>

<p>
  <b>Descricao:</b>
  <%= @projeto.descricao %>
</p>
<br/>
<hr/>
<h3>Tarefas</h3>
<table>
    <tr>
      <th>Nome</th>
      <th>Responsavel</th>
      <th>Descrição</th>
      <th>Data de Entrega</th>
    </tr>
    <% @projeto.tarefas.each do |tarefa| %>
      <tr>
        <td><%= tarefa.nome %></td>
        <td><%= tarefa.responsavel %></td>
        <td><%= tarefa.descricao %></td>
        <td><%= tarefa.data_fim %></td>
      </tr>
    <% end %>
</table>
<hr/>


<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>
